---
layout: gallery
title: Gallery
permalink: /gallery/
---


    <div class="col-lg-12">

      <div class="row">
    {% for gallery in site.data.galleries.overview %}
      <div class="card">
        <div class="card-title"> {{gallery.title}}</div>
        <div class="row">
<!-- style="max-width: 200px;max-height: 200px;overflow: hidden;" -->
        <a  href="{{ site.url }}{{ site.baseurl }}/gallery/{{ gallery.directory }}.html">
          <img class="img-thumbnail" alt="{{ gallery.title }}" src="{{ site.url }}{{ site.baseurl }}/assets/img/gallery/{% if gallery.picture_path %}{{ gallery.picture_path }}{% else %}{{ gallery.directory }}{% endif %}/thumb_{{ gallery.name }}" />
        </a>
        </div>
      </div>
    {% endfor %}
    </div>
</div>
