<div id="layoutmasonry" class="layoutmasonry">
  <div class="card_container" order="13" onclick="window.location='https://www.artstation.com/artwork/Xn2RXa';">
    <div class="card">
      <div class="media media--16-9">
        <div class="primary-title">
          <div class="secondary-text">Game Art 2</div>
        </div>
        <img src="assets\img\posts\LostInTrollberg\intro2.png"> </div>
    </div>
  </div>
  <div class="card_container" order="12" onclick="window.location='https://triktron.itch.io/pigolition-derby';">
    <div class="card">
      <div class="media media--80x80 float-right"> <img src="assets\img\posts\pigolitionderby\K6UArk.png"> </div>
      <div class="primary-title">
        <div class="primary-text">Pigolition Derby</div>
        <div class="secondary-text">Game Design 2</div>
      </div>
      <div class="supporting-text">Demolition Derby featuring Pig riders! Pick the arena. Choose your Pig and seat the rider.<br>
                                   Step into the arena and get ready for animal-farm mayhem! Aim, charge, and hit your<br>
                                   opponent’s weak spots to destroy them and claim victory!</div>
    </div>
  </div>
  <div class="card_container" order="11" onclick="window.location='https://triktron.com/Hexen/';">
    <div class="card">
      <div class="media media--1-1">
        <div class="primary-title">
          <div class="primary-text">Hexen</div>
          <div class="secondary-text">Platform Dev 3</div>
        </div>
        <img src="assets\img\posts\hexen\hexen.PNG"> </div>
    </div>
  </div>
  <div class="card_container" order="10" onclick="window.location='https://sketchfab.com/3d-models/handdrawn-plane-based-on-nieuport-17-beecbb20e43348d98106f456fde2c964';">
    <div class="card">
      <div class="media media--16-9">
        <div class="primary-title">
          <div class="primary-text">Stylized WWI Plane</div>
          <div class="secondary-text">Game Art 1</div>
        </div>
        <img src="assets\img\posts\plane\Vanesche_Luca_GameArtPlane_pres1.PNG"> </div>
    </div>
  </div>
  <div class="card_container" order="9" onclick="window.location='https://triktron.com/Hamser-Heros';">
    <div class="card">
      <div class="media media--4-3">
        <div class="primary-title">
          <div class="primary-text">Hamster Heros</div>
          <div class="secondary-text">Platform Dev 2</div>
        </div>
        <img src="assets\img\posts\hamster heros\vlcsnap-2021-01-26-15h52m53s771.png"> </div>
    </div>
  </div>
  <div class="card_container" order="8" onclick="window.location='https://sketchfab.com/3d-models/world-of-warcraft-weapon-v2-62c6e704ceee4415b07ccaaaaa8c2ad3';">
    <div class="card">
      <div class="media media--2-3">
        <div class="primary-title">
          <div class="primary-text">Stylized Axe inspired by World of Warcraft</div>
          <div class="secondary-text">Game Art 1</div>
        </div>
        <img src="assets\img\posts\axe\front.png"> </div>
    </div>
  </div>
  <div class="card_container" order="7" onclick="window.location='https://triktron.com/Road-Rage/';">
    <div class="card">
      <div class="media media--4-3">
        <div class="primary-title">
          <div class="primary-text">Road Rage</div>
          <div class="secondary-text">Platform Dev 2</div>
        </div>
        <img src="assets\img\posts\road rage\vlcsnap-2021-01-26-15h42m40s257.png"> </div>
    </div>
  </div>
  <div class="card_container" order="6" onclick="window.location='https://xavaltir.itch.io/tiki-torture-the-core-of-antioch';">
    <div class="card">
      <div class="media media--80x80 float-right"> <img src="assets\img\posts\tikiTorture\TikiTorture.png"> </div>
      <div class="primary-title">
        <div class="primary-text">Tiki Torture: The core of Antioch</div>
        <div class="secondary-text">Personal Project</div>
      </div>
      <div class="supporting-text">The god of Antioch is ANGRI and he wants sacrifices! Follow your minimap to find the sacrifices on the camp! and toss them into the volcano before its's too late and the island is flooded!</div>
    </div>
  </div>
  <div class="card_container" order="5" onclick="window.location='https://github.com/triktron/Furrypocalypse';">
    <div class="card">
      <div class="media media--16-9">
        <div class="primary-title">
          <div class="primary-text">Furrypocalypse</div>
          <div class="secondary-text">Platform Dev 1</div>
        </div>
        <img src="assets\img\posts\Furrypocalypse\Furrypocalypse2 4.png"> </div>
    </div>
  </div>
  <div class="card_container" order="4" onclick="window.location='https://triktron.com/flappy-bird';">
    <div class="card">
      <div class="media media--80x80 float-right"> <img src="assets\img\posts\flappy bird\flappy bird.png"> </div>
      <div class="primary-title">
        <div class="primary-text">Flappy Bird</div>
        <div class="secondary-text">Personal Project</div>
      </div>
      <div class="supporting-text">A Flappy Bird clone made with Godot.</div>
    </div>
  </div>
  <div class="card_container" order="3" onclick="window.location='https://sketchfab.com/3d-models/city-scene-kyoto-718d7828db3743adbcef0ed3be410946';">
    <div class="card">
      <div class="media media--4-3">
        <div class="primary-title">
          <div class="primary-text">City scene</div>
          <div class="secondary-text">3D Low Poly 1</div>
        </div>
        <img src="assets\img\posts\cityscene\Cityscene_front.png"> </div>
    </div>
  </div>
  <div class="card_container" order="2" onclick="window.location='http://triktron.com/SpotifyVisualizer';">
    <div class="card">
      <div class="media media--1-1">
        <div class="primary-title">
          <div class="primary-text">Spotify Visualizer</div>
          <div class="secondary-text">Personal Project</div>
        </div>
        <img src="assets\img\posts\SpotifyVisualizer\SpotifyVisualizer.PNG"> </div>
    </div>
  </div>
  <div class="card_container" order="1" onclick="window.location='http://triktron.com/UNO';">
    <div class="card">
      <div class="media media--80x80 float-right"> <img src="assets\img\posts\uno.png"> </div>
      <div class="primary-title">
        <div class="primary-text">UNO!</div>
        <div class="secondary-text">Personal Project</div>
      </div>
      <div class="supporting-text">A simple and unfished uno game.</div>
    </div>
  </div>
</div>
