  {%- include nav.html active="home" -%}
<div class="info-page">
  <div class="header">
      <h1 class="info">
        <img class="icon" src="assets/img/avatar.webp" alt="">
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.user_title }}</span>

        <br>

        <span class="site-email">luca.vanesche@gmail.com</span>
        <span class="site-number">+32 493 449008</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:luca.vanesche@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/triktron"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="My Twitter" target="_blank" href="https://twitter.com/triktron_"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="My Sketchfab" target="_blank" href="https://sketchfab.com/triktron"><i class="icon fa fa-cubes" aria-hidden="true"></i></a>
        <a aria-label="My Sketchfab" target="_blank" href="https://www.artstation.com/triktron"><i class="icon fa fa-address-card-o" aria-hidden="true"></i></a>
      </div>
  </div>
  <a class="down" href="#cards" data-scroll>
    <span class="projects">Projects</span>
    <i class="icon fa fa-chevron-down" aria-hidden="true"></i>
  </a>
</div>
