img.icon {
  max-width: min(35vh, 80vw);;
  border-radius: 50%;
}

.fa-cubes::before,
.fa-address-card-o::before {
  margin: -3px;
}

.info-page {
  display: flex;
  vertical-align: bottom;
  height: 100vh !important;

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

#particles-js {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  .particles-js-canvas-el {
    //height: 100vh !important;
  }
}

.header {
  font-family: "Montserrat", sans-serif;
  z-index: 1;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  .site-title {
    font-size: 76px;
    display: block;
    line-height: 1;
    color: #fff;
  }

  .site-description {
    font-size: 34px;
    display: block;
    line-height: 1;
    color: #fff;
    margin-top: 10px;
  }

  .site-email {
    display: block;
    line-height: 1;
    color: #fff;
    font-size: 32px;
  }

  .site-number {
    font-size: 32px;
    display: block;
    line-height: 1;
    color: #fff;
  }

  @media only screen and (max-width: 700px) {
    .site-title {
      font-size: 50px;
    }

    .site-description {
      font-size: 23px;
    }
  }

  @media only screen and (max-width: 500px) {
    .site-title {
      font-size: 35px;
    }

    .site-description {
      font-size: 15px;
    }

    .site-email {
      font-size: 20px;
    }

    .site-number {
      font-size: 20px;
    }
  }

  @media only screen and (max-width: 300px) {
    .site-title {
      font-size: 25px;
    }

    .site-description {
      font-size: 10px;
    }

    .site-email {
      font-size: 15px;
    }

    .site-number {
      font-size: 15px;
    }
  }
}

.header-icons {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  a {
    // no borders
    outline: 0 !important;
    border: none !important;
    outline-style: none !important;
    -moz-outline-style: none !important;

    padding: none;
    margin: none;
  }
  .icon {
    text-align: center;
    color: #fff;
    width: 20px;
    height: 20px;
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: all 0.5s;
    &:hover {
      color: $main;
      background: #fff;
    }
    &:active {
      color: $main;
      background: #fff;
    }
    @media only screen and (min-width: $cut) {
      width: 30px;
      height: 30px;
      font-size: 30px;
      line-height: 30px;
    }
  }
}

.down {
  color: #fff;
  position: absolute;
  bottom: 25px;
  width: 100%;
  font-size: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;

  .projects {
    font-size: 20px;
  }

  .icon {
    -webkit-animation: pulse 1.3s infinite;
    animation: pulse 1.3s infinite;
    &:hover {
      color: $sec;
    }
    &:active {
      color: $sec;
    }
  }
}
