<div class="card_container">
  <div class="card">
    {% if include.icon %}
    <div class="media media--80x80 float-right"> <img src="{{ include.icon }}" alt="" width="640" height="426"> </div>
    {% endif %}
    <div class="primary-title">
      <div class="primary-text">{{ include.name }}</div>
      <div class="secondary-text">{{ include.subName }}</div>
    </div>
    {% if include.description %}
    <div class="supporting-text">{{ include.description }}</div>
    {% endif %}
  </div>
</div>
